{{>header}}
{{>navbar}}
<form method="post" action="delAll">
    <button class="btn btn-danger">delete all</button>
</form>
<table class="table table-bordered my-4">
    <thead>
        <tr>
            <th>_id</th>
            <th>name</th>
            <th>balance</th>
        </tr>
    </thead>

    <tbody>
        {{#if isEmpty}}
            <tr class="alert alert-danger text-center">
                <td colspan="4">No Customers Yet</td>
            </tr>
        {{else}}
            {{#each allCustomers}}
            <tr>
                <td>{{this._id}}</td>
                <td>{{this.name}}</td>
                <td>{{this.balance}}</td>
                <td>
                    <a href="/showTransactions/{{this._id}}" class="btn btn-success mx-2">Show Transactions</a>
                    <a href="/addTransaction/{{this._id}}" class="btn btn-success mx-2">Add Transaction</a>
                    <a href="/edit/{{this._id}}" class="btn btn-warning mx-2">Edit</a>
                    <a href="/del/{{this._id}}" class="btn btn-danger mx-2">Delete</a>
                </td>
            </tr>
            {{/each}}
        {{/if}}
    </tbody>
</table>
{{>footer}}